* {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  color: #395068;
}

body {
  height: 100vh;
  background-color: #e9f4fb;
}

button {
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
  font-weight: 600;
}

input,
textarea {
  border: 2px solid #bfdaeb;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

label {
  font-weight: 600;
}

input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #3394f5;
  border: 2px solid #3394f5;
}

img {
  user-select: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #bfdaeb;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #2693ff;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}