@import fonts;
@import colors;
@import variables;
@import ui-input;
@import ui-button
@import view-login-page;
@import base;
  


.sucess{
  color: white;
  background-color: sucess;
}

.danger{
  color: white;
  background-color: danger;
}

.xs{
    height: m_xs
    font-size: 13px
    padding: 0 25px;
}

.sm{
  height: m_sm
  font-size: 14px
  padding: 0 13px;
}

.md{
  height: m_md
  font-size: 15px
  padding: 0 27px;
}

.lg{
    height: m_lg
    font-size: 16px
    padding: 0 24px;
}

// .xxl{
//   height: m_xxl
//   font-size: 16px
//   padding: 0 30px;
// }