.ui-input
    label
        color grey_medium

    input 
        color grey_strong
        padding-inline: 13px
        
    .sm
        height m_sm

    .lg 
        height: m_lg

    .xl
        height m_xl
        
