*:not(i) {
  margin: 0;
  font-family: "SVN-Gilroy", sans-serif;
  color: grey5
}

body {
  height: 100vh;
  background-color: white0;
}

input,
textarea {
  border: 2px solid grey0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

label {
  font-weight: 600;
}

button{
  border: none
  cursor: pointer
}

input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: 1px solid #3394f5;
  border: 2px solid #3394f5;
}

img {
  user-select: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
