primary1 = #2693ff
primary2 = #1182f2  

white0 = #e9f4fb

grey0  = #BFDAEB
grey1  = #a6c1d2
grey2  = #5a7186
grey3  = #4E657B
grey4  = #304458
grey5  = #283848

sucess1  = #1ad18f

danger1  = #ecc8c5
danger2  = #f491ba
danger3  = #FF4874
danger4  = #b73f3b

warning1  = #FFC42E