primary1 = #2693ff
primary2 = #1182f2  

white0 = #e9f4fb
white1 = #E2EEF5
white2 = #f4fbff
white3 = #F4FAFD
white4 = #EDF6FC

grey0  = #BFDAEB
grey1  = #a6c1d2
grey2  = #5a7186
grey3  = #4E657B
grey4  = #304458
grey5  = #283848
grey6  = #8d9caa
grey7  = #748CA5
grey8  = #D6E6EF
grey9  = #9caec1
grey10 = #395068
grey11 = #475E78
grey12 = #77899e

sucess1  = #1ad18f
sucess2  = #7ce7bf

danger1  = #ecc8c5
danger2  = #f491ba
danger3  = #FF4874
danger4  = #b73f3b
danger5  = #ff2e79

warning1  = #FFC42E