primary         = #2693ff
primary_medium  = #1182f2
primary_strong = #283848

grey_light   = #a6c1d2
grey_medium  = #5a7186
grey_medium_1  = #4E657B
grey_strong  = #304458

sucess  = #1ad18f

danger       = #FF4874
danger_light = #f491ba

warning  = #FFC42E