@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBlack.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyMedium.woff2') format('woff2'),
        url('../fonts/SVN-GilroyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroySemiBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroySemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-Gilroy.woff2') format('woff2'),
        url('../fonts/SVN-Gilroy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyThin.woff2') format('woff2'),
        url('../fonts/SVN-GilroyThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

