@import fonts
@import colors
@import variables
@import base
@import ui-input
@import ui-button
@import template-page-public
@import template-page-private
@import view-login
@import view-dashboard
@import ui-textarea
@import ui-checkbox
@import ui-header
@import ui-kebab-menu
@import ui-sidebar
@import ui-modal
@import ui-radio
@import ui-task-edit
@import ui-task-form-add
@import ui-task-list-item 
@import ui-task-remove-card
@import ui-task-search

.sucess
  color white
  background-color sucess1


.danger
  color white
  background-color danger3
