@import base
@import fonts
@import colors
@import variables
@import ui-input
@import ui-button
@import template-page-public
@import template-page-private
@import view-login
@import view-dashboard
@import ui-textarea

.sucess
  color white
  background-color sucess


.danger
  color white
  background-color danger
