.page-private {
    display: flex;
    background-color: #fff;
}

.page-banner {
    height: 100vh;
    width: 36.2vw;
    display: flex;
    background-color: #2693ff;
}

.img-content {
    margin: auto;
    width: 368px;
}

.img-content img {
    width: 100%;
}