header {
    width: calc(100vw - 106px);
    height: 83px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 1px 10px rgba(40, 56, 72, 0.06);
    position: fixed;
    left: 106px;
    background-color: white;
    z-index: 1;
}

.user-content {
    display: flex;
    align-items: center;
    padding-inline: 34px;
}

.img-content-header {
    width: 46px;
    margin-right: 12px;
}

.img-content-header img {
    width: 100%;
    border-radius: 50%;
}

.user-content p {
    font-weight: 700;
}

.user-content span {
    font-size: 13px;
    font-weight: 700;
    color: primary1;
}