.ui-input
    label
        color grey3
        margin-bottom: 4px

    input 
        color grey3
        padding-inline: 13px
        margin-bottom: 18px
        
    .sm
        height m_sm

    .lg 
        height: m_lg

    .xl
        height m_xl
        