.task-item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    right: -10px;
    top: -1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 74px;
    width: 109px;
    background-color: #fff;
    border-radius: 5px;
    gap: 10px;
}

.task-item-menu button {
    background-color: transparent;
    color: #7189a0;
}

.task-item-menu span {
    display: inline-block;
    background-color: #d6e6ef;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 6px 0 9px;
}


.fa-ellipsis-vertical {
    font-size: 20px;
    color: #9caec1;
    cursor: pointer;
    z-index: 9;
    position: relative;
}

.task-item-menu-clicked {
    color: #395068 !important;
}

.task-item-menu-clicked span {
    background-color: #1ad18f;
}

.task-item-menu-clicked-icon {
    color: #2693ff;
}