.modal-add {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 660px;
  padding: 20px 40px;
  border-radius: 7px;
  background-color: white;
  border: none;
}

.modal-add h2{
  margin: 9px 0 30px;
}

.modal-add-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top 14px
}
