.task-item-content {
    padding: 14px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 7px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.task-checked-content {
    background-color: #F4FAFD;
}

.task-item-tipo {
    background-color: #7189a0;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 25px;
}

.task-item-description {
    padding: 15px 15px 0 15px;
    font-size: 15px;
    font-weight: 600;
}

.urgente-background {
    background-color: #f491ba;
}

.importante-background {
    background-color: #ffc42e;
}

.task-item-bottom-line {
    border-bottom: 1px solid #d6e6ef;

    padding-bottom: 14px;
}