.view-container {
    margin-top: 185px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.view-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 630px;
}

.view-content-text {
    margin-bottom: 29px;
}

.view-content-text h1{
    font-size: 26px
}

.view-content p {
    font-weight: 600;
    color: #77899e;
    font-size: 17px;
}

.view-content strong {
    color: #2693ff;
}

.view-placeholder{
    width: 333px
}

.btn-add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 23px;
    right: 28px;
    border: none;
    color: #fff;
    font-size: 50px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(40, 56, 72, 0.06);
}
